.container-fluid {
  text-align: center;
  background-color: rgb(251, 255, 228);
  height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bree Serif", serif;
  font-weight: 900;
  font-style: normal;
  background-color: rgb(179, 216, 168);
  border-radius: 20px;
  margin: 10px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
  background-color: rgb(163, 209, 198);
  border-radius: 10px;
}
.footer-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 20px;
  background-color: rgb(163, 209, 198);
  border-radius: 10px;
}
.footer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  margin-top: 20px;
  background-color: rgb(61, 141, 122);
  border-radius: 10px;
}
